#turn on url rewriting 
RewriteEngine on
#remove the need for .php extention 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule "^(.*)$" "$1.php"
Options +ExecCGI 
AddHandler cgi-script .py 

Satisfy any
Header add Access-Control-Allow-Origin "*"
AuthType Basic
AuthName "Restricted Content
AuthUserFile /etc/apache2/.htpasswd
Require valid-user

